@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* font-family: "Inter", sans-serif; */

.faqtopdiv {
    display: flex;
margin-bottom: 0px;
height: 500px;
/* border:1px solid rgb(103, 127, 80); */
justify-content: space-evenly;

}
.faqleftdiv {
    /* border: 0.2px solid white; */
    height: 145px;
    width: 325px;
}
.faqlefth1{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    margin-bottom: 0px;
    font-size: xxx-large;
    font-weight: 500;

}

.faqleftp{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    text-align: justify;
    margin-top: 11px;
    margin-bottom: 11px;
    font-size: 15px;
    line-height: 22.2px;
    opacity: 30%;
    font-weight: 300;
}

.faqrightdiv{
    margin-top: 80px;
    width: 470px;
    height: 300px;
    /* border: 1px solid chartreuse; */
}

.accordian {
  background: rgba(29, 29, 29, 1);
    
}

.addicon {
    color: 
    #E3B748;
}

.accordianhead {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    /* margin-bottom: 0px; */
    font-size: larger;
    font-weight: 500;
}

.accordianbodytext {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    text-align: justify;
    /* margin-top: 11px; */
    /* margin-bottom: 11px; */
    font-size: 15px;
    line-height: 22.2px;
    opacity: 30%;
    font-weight: 300;
}

