.rightnavigation {
    position: absolute;
 
    z-index: 10;
    /* transform: translateY(-50%); */
    cursor: pointer;
    /* background-color: rgb(214, 223, 223); */
    /* height: 52px;
    width: 52px; */
    /* margin-right: 10px; */
 }

 .Right-arrow {
    height: 70px;
margin-right: 50px;
    
}