@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.chooseus {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;

}